extends layout

block content
	.jumbotron(style="background-image: url('/img/titleBg2.png');background-position:center; background-repeat: no-repeat;")
		.container
			h1(style="color:#FFFFFF;")  Part I
			p(style="color:#FFFFFF;") 
				|  At the end of this section you should be able to think about how you design a game, and then visualise how it would work. This includes an udnerstanding of objects, rooms, events and actions.

	.container
		
		.row
			.col-md-8.col-md-offset-2
				center
					h1	What you will learn

				p.text-justified In this tutorial we are building our first game using Game Maker! We will learn and use  fundamental functionalities of game design, to build a game with a single player who moves around in a space and shoots at enemies, receives stars, and so on. At the end of the tutorial we will have a game that looks like the images below. <br>

			.row
				.col-md-6
					center
						img(src="/img/tutorial/scope1.png")
				.col-md-6
					center
						img(src="/img/tutorial/scope2.png")

		.row
			hr
			.col-md-12
				
				h1	I - Basic Concepts

				p In game maker there are three basic concepts you need to be familiar with in order to start making a game; Rooms, Objects, Events & Actions.

		.row

			.col-md-4
				center
					h2 Rooms
				p.text-justify
					|  A room is the place where all the actions take place. It is where the game lives and all the objects come together to construct the game.

			.col-md-4
				center
					h2 Objects
				p.text-justify
					| An object is anything that exists inside of the game. It reacts and behaves how you define in to.
				p.text-justify
					| Object examples: the player, the enemy, the wall, the bullet.
			.col-md-4
				center
					h2 Events and Actions
				p.text-justify
					| Events and Actions are concepts that allow you to make the objects react to events and take certain actions.
				p.text-justify
					| For instance: An event is clicking the 'space' button and the action is to make the player jump.

		.row
			hr

			.col-md-6
				h2 II - Setting Up
				p Start off by creating a new project.

				ol
					li Click on <b>File → New Project </b>. A new window opens.
					li For <b>Project Directory</b>, choose the directory in which you would like to create your project. e.g. C:\Users\User\GameMaker\Tutorials. (You may need to create the folder GameMaker\ and GameMaker\Tutorials\ first)
					li For <b>Project Name</b>, give the name for your project. Let’s say <b> Tutorial1 </b>
					li Click <b> Create </b>


			.col-md-6
				img(src="/img/tutorial1/1.createProject.PNG", style="width:450px;")

		.row
			hr

			.col-md-6
				h2 III - Creating a Sprite
				p Create a sprite. Sprites are the images that represent the characters (e.g. the imgage of the player that looks on the right, or looking on the left). Let’s create a sprite for the main player.

				ol
					li Right click on <b>Sprites → Create Sprite</b>. A new window opens.
					li <b>Name</b>: spr_name - For consistency, all sprite names begin with “spr_” followed by the name we want to give them.
					li <b>Load Sprite</b>: select the image you would like to load.
					li Center the sprite by <b>(i)</b> clicking in the center of the image (this will determine its point of rotation) or by <b>(ii)</b> changing the numbers of X and Y under the Origin. The numbers should be the half of the actual size (width and height) of the image).
					li Click <b>OK</b>.


			.col-md-6
				img(src="/img/tutorial/sprite1.png", style="width:450px;")

		.row
			hr

			.col-md-6
				h2 IV - Creating an Object
				p Create an object. Objects define the behaviour of the characters (e.g. the player, enemies) and objects (rocks, bullets) in the game. Let’s create an object for the main player.

				ol
					li Right click on <b>Objects → Create Object</b>. A new window opens.
					li <b>Name</b>: obj_<b><i>name</b></i> - For consistency, all object names begin with “obj_” followed by the name we want to give them.
					li Load the sprite the will be associated with this object. Click on the text box under <b>Sprite</b>.
					li Click <b>OK</b>.

			.col-md-6
				img(src="/img/tutorial1/2.createObject.PNG", style="width:450px;")

		.row
			hr

			.col-md-6
				h2 V - Creating a Background (optional)
				p Create a background.

				ol
					li Right click on <b>Backgrounds → Create Background</b>. A new window opens.
					li <b>Name</b>: bg_<b><i>name</b></i> - For consistency, all background names begin with “bg_” followed by the name we want to give them.
					li <b>Load Background</b>: select the image you would like to load.
					li Click <b>OK</b>.

			.col-md-6
				img(src="/img/tutorial/background1.png", style="width:450px;"))

		.row
			hr

			.col-md-6
				h2 VI - Creating an Room
				p Create room in which the game will take place.
				
				ol
					li Right click on <b>Room → Create Room</b>. A new window opens.
					li Click on the <b>Backgrounds</b> tab. (optional)
					li Click on the text box and select the background image you created before. (optional)
					li Click on the <b>Objects</b> tab. 
					li Select the object we just created.
					li Click anywhere in the room to put the object you selected.
					li Click the green tick button on the top left of the window.

				p At this point we have an object, placed in the game but it will do nothing because no action events have been set.

			.col-md-6
				img(src="/img/tutorial1/4.createRoom.PNG", style="width:450px;")

		.row
			hr
			.col-md-6.col-md-offset-3.well
				h4 VII - Run the Game
				p Let’s test what we have done so far by running the game. Click on the green play button at the top of the screen <img src="/img/icons/run.png", style='height:25px;'>. Be patient. This will take several seconds. A new window opens and should look like the image on the right.


		.row
			hr

			.col-md-6
				h2 VIII - Editing the Sprite
				p Have you noticed that the player has a white background? Does it look nice? Nah! So lets remove it.

				ol
					li Double click on the sprite of the main player.
					li Click button <b>Edit Sprite</b>. A new window opens.
					li From the <b>menu</b> bar, click the 2nd icon from the right. It looks like this <img src="/img/icons/editSprite.png", style='height:25px;'>
					li From the left column, click the following icon <img src="/img/icons/editSprite.png", style='height:25px;'>. This tool allows you to select the background.
					li Click on the white background of the image.
					li Press delete from keyboard. The white background has been removed!
					li Click the green tick on the top left corner <img src="/img/icons/done.png", style='height:25px;'> to save and close the window.
					li Click the green tick again to save and close the previous window.
					li Click <b>OK</b>.


			.col-md-6
				img(src="/img/tutorial1/3.createSprite.PNG", style="width:450px;")

		.row
			hr

			.col-md-6
				h2 IX - Making your First Event
				p Create an event for the player to move right. The player should move right by clicking the button D.

				ol
					li Double click on the object of the player.
					li Click <b>Add Event</b> and select <b>Keyboard → Letters → D</b>
					
					ol
						li Add an action to that event. When we press the button D, we want to move right. How: Click on the label <b>move</b>. Under the section <b>Jump</b>, drag and drop the first icon <img src="/img/icons/jumpto.png", style='height:25px;'> in the box under <b>Actions</b>. A new line appears in the box.
						li Double click on this new line. A new window opens.
						li In the text box of <b>x</b>(*), write down: +5. Select <b>Relative</b>.
						<p>(*)<b>x</b> is the x-axis of the room, where the player moves left and right. By writing += 5, we ask the player to move on the right with a speed set to 5.</p>
						li Click the green tick button on the top left corner to save and close. 
					li Repeat step (b) for moving left (with the letter A), up (with the letter W) and down (with the S).
					<p> Question #1: If we write <b>+5</b> for moving right, what will we write for moving left?</p>
					<p> Question #2: If we use the <b>x-axis</b> for moving left and right, what will we use for moving up and down?</p>

			.col-md-6
				img(src="/img/tutorial1/6b-actionMoveRight.PNG", style="width:450px;")


		.row
			hr
			.col-md-6.col-md-offset-3.well
				p <b> Mini Challenge: </b> Create a sprite and an object for the enemy and place 6 enemies in the room. (Note: When placing the enemies, make sure to use the whole ‘space’ and not only the visible space in the room)


