extends layout

block content
	.jumbotron(style="background-image: url('/img/titleBg2.png');background-position:center; background-repeat: no-repeat;")
		.container
			h1(style="color:#FFFFFF;")  Game Design Tutorial
			p(style="color:#FFFFFF;") 
				| This is a page which contains all the resources you will need for today for you to design and play your very own set of games!
			p
				a.btn.btn-primary.btn-lg(role='button', style="width:150px;") Start!
	.container
		
		.row
			.col-md-12
				h1 < What you will learn >

				hr
		.row
			.col-md-4
				center
					img(src="/img/style.png", style="height:150px; width150px;").img-circle

					h2 Basic Game Design 
				p.text-justify
					| At the end of this section you should be able to think about how you design a game, and then visualise how it would work. This includes an udnerstanding of objects, rooms, events and actions.

			.col-md-4
				center
					img(src="/img/workflow.png", style="height:150px; width150px;").img-circle
					h2 Variables and Logic flow
				p.text-justify
					| Unfortunately, making games requires applying your maths, this is what we will aim to teach you in this subject. We will show you how to use variables and logic flow to let your game make intelligent decisions based on your input

			.col-md-4
				center
					img(src="/img/gmslogo1.png", style="height:150px; width150px;").img-circle
					h2 Create Two Games
				p.text-justify
					| At the end of this mini-course you should have two awesome games which you can place and build upon using game maker! 


		.row
			.col-md-4
				a.btn.btn-default(href='#', role='button') View details »
			.col-md-4
				a.btn.btn-default(href='#', role='button') View details »
			.col-md-4
				a.btn.btn-default(href='#', role='button') View details »



	
